# Login zsh config (loaded via ZDOTDIR set in ~/.zshenv).

{{ if eq .chezmoi.os "darwin" -}}
[[ -z "$HOMEBREW_PREFIX" ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
eval "$(direnv hook zsh)"

[ -r "$ZDOTDIR/.zprofile.local" ] && . "$ZDOTDIR/.zprofile.local"
